body {
    font-family: Arial, sans-serif;
}

/* Styling Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling Header */
header {
    background: linear-gradient(to right, #007bff, #0056b3);
}

/* Styling Kategori */
.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

/* Styling Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
